<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <!-- documentation of values https://docs.microsoft.com/de-de/dotnet/framework/configure-apps/file-schema/startup/supportedruntime-element -->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>
